<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <div class="card shadow">
                <h1 class="card-title text-center mt-3">
                    Add A Fun Fact
                </h1>
                <div class="card-body">
                    <form action="/buildings/<%=building.id%>/funfacts" method="POST" novalidate class="validated-form">
                        <div class="mb-3">
                            <label class="form-label" for="fact">Fun Fact</label>
                            <input class="form-control" type="text" id="fact" name="fact[body]" required>
                            <div class="valid-feedback">Looks Good! </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success">Add A Fun Fact</button>
                        </div>
                        <div>
                            <a href="/buildings/<%=building._id%>">Back to the Building</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <% for (let fact of building.facts) { %>
                <div class="mb-3 card">
                    <div class="card-body">
                        <h6 class="card-title mb-2 text-muted">
                            <%= fact.author.username %>
                        </h6>
                        <p class="card-text">
                            <%= fact.body %>
                        </p>
                        <p class="card-text">
                            <%= fact.additionTime %> 
                        </p>
                        <% if (currentUser &&fact.author.equals(currentUser._id) ) { %>
                            <form action="/buildings/<%= building._id%>/funfacts/<%=fact._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-sm btn-danger">DELETE</button>
                            </form>
                            <% } %>
                    </div>
                </div>
                <% } %>
        </div>

    </div>