<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ur Building Map</title>

    <!-- Including Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Including BS-Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Including Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

    <!-- Including Custom Stylesheet -->
    <link rel="stylesheet" href = "/stylesheets/app.css"> 
    <link rel="stylesheet" href = "/stylesheets/index.css">
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <div class="row">
    <div id="cluster-map"></div>
</div>
    <main class="container mt-5">
        <%-  include('../partials/flash') %>
        <!-- <div class="row d-flex justify-content-center"> -->
        <div class="row mt-3">
            <form action="">
                <div class="float-end">
                    <input type="search" name="search" placeholder="Search by Name">
                    <button class="btn btn-primary">Search</button>
                    <a href="/buildings" class="btn btn-primary">Show All</a>
                </div>
            </form>
        </div>
        <div id="masonry">
            <% for (let building of buildings) { %>
                <!-- <div class="d-inline-block col-xs-12 col-md-6 col-lg-4 py-3"> -->
                <div class="d-inline-block">
                    <div class="card m-3">
                        <img loading="lazy" class="card-img-top" src="<%= building.images[0].url %> "
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=building.name%>
                            </h5>
                            <p class="card-text text-muted">
                                <%=building.description%>
                            </p>
                            <a href="/buildings/<%=building._id%>" class="btn btn-light">Show</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </main>

    <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
            const buildings = { features: <%-JSON.stringify(buildings) %>}
        </script>
        <script src="/javascripts/clusterMap.js"></script>
</body>
</html>